body{
    
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    
}
.video_wrap{
    position: absolute;
   
    margin-top: 110px;
    
    width: 40vw;
    height: 40vh;
    display: flex;
   
    align-items: center;
    justify-content: center;

}
.texto{
    align-items: center;
    justify-content: center;
    color: rgb(56, 55, 55);
}
