body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  
}
    

.video_wrap{
    position: absolute;
    margin-top: 120px;
   

    
    width: 40vw;
    height: 40vh;
    display: flex;
   
    align-items: center;
    justify-content: center;

}
.texto{
    align-items: center;
    justify-content: center;
    color: rgb(56, 55, 55);
}
.sempre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(80, 76, 76);

}
