.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;


}
.menu-button{
  margin-left: auto;
  cursor: pointer;
  border-radius: 90px;
  position: relative;
  
 
}

.menu.active{
  opacity: 1;
  visibility: visible;
}

.menu{
  opacity:0;
}
.logo{

 
  width: 150px;
  height: 150px;
  border-radius: 90px;
}

.link{
  text-decoration: none;
  color: blue;
}
h3{
  color: blue;
}



